/* CSS RESET AND BASE STYLING */
:root {
	--color-main: #1c7b2d;
	--bg-color: #1f1f1f;
	--bg-color-contrast: #0b0f0b;
	--text-color: #fff;
	--text-color-green: #58e953;
	--text-color-focus: #f2f2f2;
	--text-color-contrast: #ffd11a;
	--color-accent: #aa9a59;
	--text-color-focus: #a7f3a5;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background-color: var(--bg-color);
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

/* INCONSOLATA FONT IMPORT */
body {
	font-family: Inconsolata;
	font-style: normal;
	font-variant: normal;
	background: none !important;
	color: var(--text-color);
	height: 100vh;
	line-height: 1.6;
}

@media screen and (min-width: 700px) {
	body {
		margin-right: 10%;
		margin-left: 10%;
	}
}

a {
	text-decoration: none;
	color: var(--text-color-green);
}

h1 {
	font-size: 24px;
	font-weight: 700;
	line-height: 26.4px;
}
h3 {
	position: relative;
	font-size: 14px;
	font-weight: 700;
	line-height: 15.4px;
	padding-bottom: 1em;
}
h3::before {
	display: block;
	content: " ";
	margin-top: -75px;
	height: 75px;
	visibility: hidden;
	pointer-events: none;
}
p {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.highlight {
	color: var(--text-color-green);
}

/* END BASE STYLING */

/* CONTAINER FOR HORIZONTAL CENTERING */
.container {
	max-width: 1000px;
	padding-left: 1.4rem;
	padding-right: 1.4rem;
	margin-left: auto;
	margin-right: auto;
}
/* END HORIZONTAL CONTAINER */

/* OUTERMOST NAVBAR ELEMENT */
#navbar {
	--navbar-height: 64px;
	position: fixed;
	height: var(--navbar-height);
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
	background: rgba(15, 21, 15, 0.5);
	z-index: 10;
}

/* NESTED CONTAINER */
.navbar-container {
	display: flex;
	justify-content: space-between;
	height: 100%;
	align-items: center;
	border-bottom: solid;
	border-width: 0.5px;
	border-color: var(--color-accent);
}

/* NAVBAR ANCHORS */
.navbar-item {
	margin: 0.4em;
	width: 100%;
}

.home-link {
	font-family: Roboto;
	font-size: larger;
}

.home-link,
.navbar-link {
	color: var(--text-color-green);
	transition: color 0.2s ease-in-out;
	text-decoration: none;
	display: flex;
	font-weight: 400;
	align-items: center;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.home-link:focus,
.home-link:hover {
	color: var(--text-color-focus);
}

.navbar-link {
	justify-content: center;
	width: 100%;
	padding: 0.4em 0.8em;
	border-radius: 5px;
}

.navbar-link:focus,
.navbar-link:hover {
	color: var(--text-color-focus);
}

/* TOGGLE/HAMBURGER BUTTON STYLING */
.navbar-toggle {
	cursor: pointer;
	border: none;
	background-color: transparent;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: right;
	justify-content: center;
	flex-direction: column;
}

/* TOGGLE BAR (3x) STYLING */
.icon-bar {
	display: inline-block;
	width: 30px;
	height: 2px;
	margin: 2px;
	transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out,
		opacity 0.2s ease-in-out;
	background-color: #1c7b2d;
}

.icon-bar:nth-child(2) {
	width: 25px;
}

.icon-bar:nth-child(3) {
	width: 20px;
}

.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar {
}

/* TRANSFORM TOGGLE BUTTON INTO AN X */
#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {
	position: absolute;
	margin: 0;
	width: 30px;
}

#navbar.opened .navbar-toggle .icon-bar:first-child {
	transform: rotate(45deg);
}

#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
	opacity: 0;
}

#navbar.opened .navbar-toggle .icon-bar:last-child {
	transform: rotate(-45deg);
}
/* END TOGGLE TRANSFORMATION */

/* RESPONSIVE STYLING FOR NAVBAR */
.navbar-menu {
	position: fixed;
	top: var(--navbar-height);
	bottom: 0;
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
	opacity: 0;
	visibility: hidden;
	left: 0;
	right: 0;
}

/* MENU -OPENED- STYLING */
#navbar.opened .navbar-menu {
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 1;
	visibility: visible;
}

/* CONTAINER FOR NAVIGATION LINKS */
.navbar-links {
	list-style-type: none;
	max-height: 0;
	overflow: hidden;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	left: 0;
	right: 0;
	margin: 1.4rem;
	border-radius: 5px;
}

#navbar.opened .navbar-links {
	padding: 1em;
	max-height: none;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	background: rgba(15, 21, 15, 0.85);
}
/* END MOBILE LAYOUT */

/* DESKTOP MEDIA QUERY */
@media screen and (min-width: 700px) {
	.navbar-toggle {
		display: none;
	}

	#navbar .navbar-menu,
	#navbar.opened .navbar-menu {
		visibility: visible;
		opacity: 1;
		position: static;
		display: block;
		height: 100%;
	}

	#navbar .navbar-links,
	#navbar.opened .navbar-links {
		margin: 0;
		padding: 0;
		box-shadow: none;
		position: static;
		flex-direction: row;
		list-style-type: none;
		max-height: max-content;
		width: 100%;
		height: 100%;
	}

	#navbar .navbar-link:last-child {
		margin-right: 0;
	}
}

/* MAIN CONTENT STYLING */
.content {
	padding: 3em;
	padding-top: 5em;
}

/* BEGIN ABOUT */
.container-about {
	border-bottom: solid;
	border-width: 0.5px;
	border-color: var(--color-accent);
}

/* BEGIN RESUME */
.container-resume {
	padding-top: 3em;
	border-bottom: solid;
	border-width: 0.5px;
	border-color: var(--color-accent);
}

.resume {
	display: grid;
	grid-template-columns: 1fr 3fr;
	padding: 10px;
	text-align: left;
}

.resume button {
	
	background: none;
	border: none;
	padding: 10px;
}

.resume button i:hover {
	color: var(--text-color-contrast);
}

.resume-item {
	padding: 5px;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;
}

.resume-item i {
	display: block;
	color: var(--text-color-green);
	width: 100px;
}

.resume-item-desc {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

/* The Modal (background) */
.modal_multi {
	display: none;
	position: fixed; /* Stay in place */
	z-index: 1;
	padding-top: 25%; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	display: flex;
	font-size: 12px;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	text-align: left;
	background-color: var(--color-main);
}

/* DESKTOP VERSION */
@media screen and (min-width: 700px) {
	.modal-content {
		display: flex;
		font-size: 12px;
		background-color: var(--color-main);
		margin: auto;
		padding: 20px;
		border: 1px solid #888;
		width: 30%;
		text-align: left;
	}
}

.modal-content ul {
	list-style-type: none;
}

.close_multi {
	float: right;
	font-size: 50px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
/* END RESUME */

/* BEGIN SKILLS */
.container-skills {
	padding-top: 3em;
	border-bottom: solid;
	border-width: 0.5px;
	border-color: var(--color-accent);
}

.skills {
	padding-bottom: 2em;
	display: none;
	overflow: hidden;
	border-bottom: solid;
	border-width: 0.5px;
	border-color: var(--color-accent);
}

.skill-container {
	background-color: var(--text-color-focus);
	width: 100%;
	border-radius: 5px;
	height: 25px;
	width: 95%;
}

.skill {
	background-color: var(--text-color-contrast);
	text-align: right;
	color: var(--bg-color-contrast);
	border-radius: 5px;
	height: 25px;
	width: 95%;
	font-size: 14px;
	padding-top: 2.5px;
}

.skill.prof {
	width: 0%;
}

.container-skills .row {
	padding-bottom: 0.5em;
}

/* END SKILLS */

/* BEGIN PROJECT */
.container-projects {
	padding-top: 3em;
	border-bottom: solid;
	border-width: 0.5px;
	border-color: var(--color-accent);
}

.proj {
	text-align: center;
	height: max-content;
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 20px;
}

@media screen and (min-width: 1000px) {
	.proj {
		height: 700px;
	}
}

.proj a:hover {
	color: var(--text-color-contrast);
}
/* END PROJECT */

/* BEGIN CONTACT */
.container-contact {
	padding-top: 3em;
	padding-bottom: 1em;
	border-bottom: solid;
	border-width: 0.5px;
	border-color: var(--color-accent);
}

.icon-container {
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.icon-container a {
	padding-right: 20px;
}

.icon-container a:hover,
.icon-container a:focus {
	color: var(--text-color-contrast);
	background-color: var(--color-contrast);
}
/* END CONTACT */
